*{
margin: 0;
padding: 0;
}

ul{
float: right;
list-style: none;
margin-top: 25px;
}

ul li{
display: inline-block;
}

ul li a{
text-decoration: none;
color: #000000;
padding: 5px 20px;
border: 1px solid transparent;
transition: 0.6s ease;
}

ul li a:hover{
background-color: #fff;
color: #000;
}

.logo img{
float: left;
width: 190px;
height: auto;
}

.main{
max-width: 1250px;
margin: auto;
}

ul li.active a{
background-color: #fff;
color: #000;
}

body{
background: linear-gradient(90deg, #39C304, #03B8D6);
}
